body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 100px;
}

#timer {
    font-size: 100px;
    margin: 40px 0;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}
